/*/.classpath
/*/.project
/*/.settings
/*/logs
/.metadata
/*/target/
/sandbox*/
logs/*
.idea
*.iml
*.class
*.DS_Store
MANIFEST.MF
*/src/main/java/META-INF
/*/logs
*/nbactions.xml
*/nb-configuration.xml
rebel.xml
*~